	body{
    	overflow-x: hidden; 
    	background-color: #E5FFFC;
		background-size: cover;
	}

/* body responsive */
	@media screen and (min-width: 770px) and (max-width: 2000px){
	.prog_{
		display: none;
	}
	.progv_{
		display: none;
	}
	.prog{
		margin-top: 0.5%;
	}
	.competences{
		text-align: center;
		margin-top: 55px;
		padding-bottom: 7px;
		margin-left: 5px;
	}
	.log_indus{
		margin-left:50px;
	}
	.industriels_{
		display: none;
	}
	.prog1{
		margin-top: 20px;
	}
	.LabVIEW{
		margin-left:15%;
		margin-bottom: 1%;
		padding-bottom:-15px;
	}
	.Matlab{
		margin-top: 10px;
		margin-left:15%;
		margin-bottom: 1%;
	}
	.Autocad{
		margin-top: 10px;
		margin-left:15%;
		margin-bottom: 1%;
	}
	.Catia{
		margin-top: 10px;
		margin-left:15%;
		margin-bottom: 1%;
	}
	.lang_prog{
		position: absolute;
		margin-left:58%;
		margin-top:-280px;
	}
	.prog2{
		margin-top: 23px;
	}
	.HTML{
		position: absolute;
		margin-left:70%;
		margin-top:-245px;
	}
	.CSS{
		position: absolute;
		margin-left:70%;
		margin-top: -188px;
	}
	.JavaS{
		position: absolute;
		margin-left:70%;
		margin-top: -133px;
	}
	.PHP{
		position: absolute;
		margin-left:70%;
		margin-top: -75px;
	}
	.avenir{
		text-align: center;
		margin-top: 10px;
		padding-bottom:10px;
	}
	.logoc{
		margin-top: 2%;
		margin-left: 40%;
	}
/* barre de progression prog */

	#progress_h{
		position: absolute;
		width: 420px;
		margin-left: 53%;
		margin-top: -215px;
	}
	#progress_c{
		position: absolute;
		width: 420px;
		margin-left: 53%;
		margin-top: -158px;
	}
	#progress_j{
		position: absolute;
		width: 420px;
		margin-left: 53%;
		margin-top: -101px;
	}
	#progress_p{
		position: absolute;
		width: 420px;
		margin-left: 53%;
		margin-top: -43px;
	}
}

	@media screen and (max-width: 770.001px){
	.industriels{
		display: none;
	}
}

	@media screen and (max-width: 770px){
	.prog{
		display:none;
	}
	.prog_{
		margin-top:15px;
	}
	.lang_prog_{
		text-align: center;
		margin-top: 6%;
	}
	.competences_{
		margin-top: 55px;
		padding-bottom: 7px;
		text-align: center;
	}
	.log_indus_{
		text-align: center;
	}
	
/* reglage_progress-bar	 */
	.LabVIEW_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.Matlab_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.Autocad_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.Catia_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.lang_prog_{
		margin-top: -0.5%;
	}
	.HTML_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.CSS_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.JavaS_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.PHP_{
		margin-top: 2%;
		margin-bottom: 1%;
	}
	.avenir_{
		margin-bottom: 20%;
		margin-top:5%;
		text-align: center;
	}
	.logoc_{
		margin-top: -15%;
		margin-left: -50px;
		margin-bottom: 18%;
	}

}

	@media screen and (min-width: 430px) and (max-width: 770px){
	.progv{
		display:none;
	}
	.logoc_{
		margin-left: 30%;
	}
}

	@media screen and (min-width: 360px) and (max-width: 430px){
	.progv{
		display:none;
	}
	.competences{
		font-size: 25px;
	}
	.log_indus{
		font-size: 25px;
	}
	.competences_{
		font-size: 25px;
	}
	.log_indus_{
		font-size: 17px;
	}
	.lang_prog_{
		font-size: 17px;
	}
	.avenir_{
		font-size: 25px;
	}
	.lang_{
		margin-top: -50px;
		margin-left: 10%;
		margin-bottom: 18%;
	}
	.logoc_{
		margin-left: 10%;
	}
}

/* bandeau_contact */
	.footer{
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #34393E;
		height: 60px;
	}
	.PHONE{
		padding-top:15px;
		height: 50px;
		width: 40px;
		margin-left: 15%;
	}
	.MAIL{
		padding-top:15px;
		height: 50px;
		width: 45px;
		margin-left: 16%;
	}
	.LINK{
		padding-top:15px;
		height: 50px;
		width: 40px;
		margin-left: 17%;
	}
	.mobilesOnly{
		visibility: hidden;
	}
	.BUZZ{
		padding-top:15px;
		height: 50px;
		width: 90px;
		margin-left: 28%;
	}